# Server port (root entry point)
PORT=8080

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/book_it


PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=db-password
PG_DATABASE=book_it

JWT_ACCESS_SECRET=replace-with-super-secret
SERVER_URL=http://localhost:8080

